@mixin wp-theme-screen-reader-only {
	// sass-lint:disable-block no-important
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	word-wrap: normal !important;
}

@mixin wp-theme-clear-fix {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin wp-theme-font-size($px) {
	font-size: wp-theme-px-to-rem($px);
}

@mixin wp-theme-flatten-children($horizontal: false, $include-padding: false) {
	@if ($horizontal) {
		> *:first-child {
			margin-left: 0 !important; // sass-lint:disable-line no-important
			@if ($include-padding) {
				padding-left: 0 !important; // sass-lint:disable-line no-important
			}
		}

		> *:last-child {
			margin-right: 0 !important; // sass-lint:disable-line no-important
			@if ($include-padding) {
				padding-right: 0 !important; // sass-lint:disable-line no-important
			}
		}
	} @else {
		> *:first-child {
			margin-top: 0 !important; // sass-lint:disable-line no-important
			@if ($include-padding) {
				padding-top: 0 !important; // sass-lint:disable-line no-important
			}
		}

		> *:last-child {
			margin-bottom: 0 !important; // sass-lint:disable-line no-important
			@if ($include-padding) {
				padding-bottom: 0 !important; // sass-lint:disable-line no-important
			}
		}
	}
}

@mixin wp-theme-flex($flex-flow: column, $align-items: flex-start, $justify-content: flex-start) {
	align-items: $align-items;
	display: flex;
	flex-flow: $flex-flow;
	justify-content: $justify-content;
}

@mixin wp-theme-inline-flex($flex-flow: column, $align-items: flex-start, $justify-content: flex-start) {
	align-items: $align-items;
	display: inline-flex;
	flex-flow: $flex-flow;
	justify-content: $justify-content;
}

@mixin wp-theme-overlay($position: absolute) {
	position: $position;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin wp-theme-respond($device: 'phone') {
	$device-map: map-get($wp-theme-respond--map, $device);
	$min: map-get($device-map, 'min');
	$max: map-get($device-map, 'max');
	@if ($min and $max) {
		@media screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else if ($min) {
		@media screen and (min-width: $min) {
			@content;
		}
	} @else if ($max) {
		@media screen and (max-width: $max) {
			@content;
		}
	}
}

@mixin wp-theme-gutter($props: margin, $multiplier: 1) {
	@include wp-theme-respond('desktop') {
		@each $prop in $props {
			#{$prop}: $wp-theme-gutter--desktop * $multiplier;
		}
	}
	@include wp-theme-respond('laptop') {
		@each $prop in $props {
			#{$prop}: $wp-theme-gutter--laptop * $multiplier;
		}
	}
	@include wp-theme-respond('tablet') {
		@each $prop in $props {
			#{$prop}: $wp-theme-gutter--tablet * $multiplier;
		}
	}
	@include wp-theme-respond('phone') {
		@each $prop in $props {
			#{$prop}: $wp-theme-gutter--phone * $multiplier;
		}
	}
}

@mixin wp-theme-cover-background($position: center) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: $position;
}

@mixin wp-theme-transition($props: all, $duration: 150ms, $delay: 0ms, $function: ease-out) {
	transition-property: zip($props);
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $function;
}

@mixin wp-theme-theme($prop: color, $color: 'surface', $has-var: true) {
	$theme-color: map-get($wp-theme-theme--map, $color);
	#{$prop}: $theme-color;
	@if ($has-var) {
		#{$prop}: var(--wp-theme-theme--#{$color}, $theme-color);
	}
}

@mixin wp-theme-theme-root-vars {
	@each $key, $value in $wp-theme-theme--map {
		@include wp-theme-theme(--wp-theme-theme--#{$key}, $key, false);
	}
}

@mixin wp-theme-contain($max-width: $wp-theme-contain--max-width) {
	width: 100%;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

@mixin wp-theme-horizontal-list($justify: flex-start, $gutter: 2) {
	@include wp-theme-flex(row wrap, center, $justify);
	@include wp-theme-gutter(gap, $gutter);
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin wp-theme-button {
	@include wp-theme-inline-flex(row, center, center);
	@include wp-theme-theme(background-color, 'registration');
	@include wp-theme-theme(color, 'on-registration');
	font-weight: 700;
	text-decoration: none;
	padding: 0 2em;
	line-height: 3.25em;
	border-radius: 3.25em;

	&:hover,
	&:active,
	&:focus {
		@include wp-theme-theme(color, 'on-registration');
		text-decoration: none;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: auto;
	}
}

@mixin wp-theme-admin-bar-height($prop: top) {
	#{$prop}: 46px;
	@media screen and (min-width: 783px) {
		#{$prop}: 32px;
	}
}
