// root
$root-font-size: 16px;

// contain
$contain-max-width: 1280px;

// focus ring
$focus-ring-width: 2px;
$focus-ring-offset: 2px;

// gutter
$gutter-phone: 16px;
$gutter-tablet: 18px;
$gutter-laptop: 20px;
$gutter-desktop: 22px;

// respond
$respond-phone-max: 640px;
$respond-tablet-min: 640.001px;
$respond-tablet-max: 1024px;
$respond-laptop-min: 1024.001px;
$respond-laptop-max: 1280px;
$respond-desktop-min: 1280.001px;

// respond map
$respond-map: (
	"phone": ("max": $respond-phone-max),
	"tablet": ("min": $respond-tablet-min, "max": $respond-tablet-max),
	"laptop": ("min": $respond-laptop-min, "max": $respond-laptop-max),
	"desktop": ("min": $respond-desktop-min),
	"mobile": ("max": $respond-tablet-max),
	"tablet-up": ("min": $respond-tablet-min),
	"non-mobile": ("min": $respond-laptop-min),
);

// background theme
$theme-background: #EFEFEF;
$theme-on-background: #222222;
$theme-accent-on-background: #0016BA;
$theme-soft-on-background: rgba($theme-on-background, 0.5);
$theme-border-on-background: rgba($theme-on-background, 0.15);

// surface theme
$theme-surface: #FFFFFF;
$theme-on-surface: #222222;
$theme-accent-on-surface: #0016BA;
$theme-soft-on-surface: rgba($theme-on-surface, 0.5);
$theme-border-on-surface: rgba($theme-on-surface, 0.15);

// primary theme
$theme-primary: #0016BA;
$theme-on-primary: #FFFFFF;
$theme-accent-on-primary: #B69EED;
$theme-soft-on-primary: rgba($theme-on-primary, 0.64);
$theme-border-on-primary: rgba($theme-on-primary, 0.15);

// secondary theme
$theme-secondary: #255A7D;
$theme-on-secondary: #FFFFFF;
$theme-accent-on-secondary: #8CD4E6;
$theme-soft-on-secondary: rgba($theme-on-secondary, 0.64);
$theme-border-on-secondary: rgba($theme-on-secondary, 0.15);

// registration theme
$theme-registration: #000000;
$theme-on-registration: #FFFFFF;
$theme-accent-on-registration: #B69EED;
$theme-soft-on-registration: rgba($theme-on-registration, 0.64);
$theme-border-on-registration: rgba($theme-on-registration, 0.15);

// paper theme
$theme-paper: #FFFFFF;
$theme-on-paper: #000000;
$theme-accent-on-paper: #0016BA;
$theme-soft-on-paper: rgba($theme-on-paper, 0.5);
$theme-border-on-paper: rgba($theme-on-paper, 0.15);

// theme map
$theme-map: (
	"background": $theme-background,
	"on-background": $theme-on-background,
	"soft-on-background": $theme-soft-on-background,
	"border-on-background": $theme-border-on-background,
	"accent-on-background": $theme-accent-on-background,
	"surface": $theme-surface,
	"on-surface": $theme-on-surface,
	"soft-on-surface": $theme-soft-on-surface,
	"border-on-surface": $theme-border-on-surface,
	"accent-on-surface": $theme-accent-on-surface,
	"primary": $theme-primary,
	"on-primary": $theme-on-primary,
	"soft-on-primary": $theme-soft-on-primary,
	"border-on-primary": $theme-border-on-primary,
	"accent-on-primary": $theme-accent-on-primary,
	"secondary": $theme-secondary,
	"on-secondary": $theme-on-secondary,
	"soft-on-secondary": $theme-soft-on-secondary,
	"border-on-secondary": $theme-border-on-secondary,
	"accent-on-secondary": $theme-accent-on-secondary,
	"registration": $theme-registration,
	"on-registration": $theme-on-registration,
	"soft-on-registration": $theme-soft-on-registration,
	"border-on-registration": $theme-border-on-registration,
	"accent-on-registration": $theme-accent-on-registration,
	"paper": $theme-paper,
	"on-paper": $theme-on-paper,
	"soft-on-paper": $theme-soft-on-paper,
	"border-on-paper": $theme-border-on-paper,
	"accent-on-paper": $theme-accent-on-paper,
);
