@use "mixins";

.screen-reader-only,
.screen-reader-text {
	@include mixins.screen-reader-only;
}

.gallery {
	@include mixins.flex(row wrap, flex-start, flex-start);

	@for $columns from 1 through 9 {
		&.gallery-columns-#{$columns} {
			@include mixins.grid($columns);
		}
	}

	.gallery-item {
		position: relative;
		margin: 0;
	}

	.gallery-icon {

		> a {
			display: block;
		}

		img {
			width: 100%;
		}
	}

	.gallery-caption {
		background: linear-gradient(0deg, rgb(0 0 0 / 70%), rgb(0 0 0 / 30%) 70%, rgb(0 0 0 / 0%));
		bottom: 0;
		box-sizing: border-box;
		color: #FFFFFF;
		font-size: 0.8em;
		margin: 0;
		height: auto;
		max-height: 100%;
		overflow: auto;
		padding: 3em 0.77em 0.7em;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
	}
}

.pagination {

	.nav-links {
		text-align: center;

		@include mixins.flex(row wrap, center, center);
		@include mixins.gutter(gap, 0.05);
	}

	.page-numbers {
		padding: 0.5em;
		display: block;
		line-height: 1;
		min-width: 1em;
		font-weight: 600;

		&.current {
			opacity: 0.5;
		}

		&:is(a) {
			text-decoration: none;

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				color: inherit;
			}
		}
	}
}

.alignnone,
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.textwidget {
	@include mixins.flatten-children;
}
