{
  "env": {
    "browser": true
  },
  "extends": [
		"eslint:recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"overrides": [
		{
			"files": "./gulpfile.js",
			"env": {
				"node": true
			}
		}
	],
	"rules": {
		"no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
	}
}

