{
  "extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
  "env": {
    "browser": true
  },
	"ignorePatterns": [
		"build/**/*",
		"vendor/**/*",
		"node_modules/**/*",
		"tmp/**/*",
		"package-lock.json",
		"composer.lock"
	],
	"rules": {
		"indent": ["error", "tab"],
		"eol-last": ["error", "always"],
		"no-console": [
			"error",
			{
				"allow": ["info", "warn", "error"]
			}
		],
		"@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
	},
	"overrides": [
		{
			"files": ["./webpack.config.js"],
			"env": {
				"node": true
			}
		}
	]
}
