{
  "extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
  "env": {
    "browser": true
  },
	"ignorePatterns": [
		"build/**/*",
		"vendor/**/*",
		"node_modules/**/*",
		"tmp/**/*",
		"package-lock.json",
		"composer.lock"
	],
	"overrides": [
		{
			"files": ["./webpack.config.js"],
			"env": {
				"node": true
			}
		}
	],
	"rules": {
		"indent": ["error", "tab"],
		"eol-last": ["error", "always"],
		"no-console": [
			"error",
			{
				"allow": ["info", "warn", "error"]
			}
		]
	}
}
