{
	"extends": [
		"@wordpress/stylelint-config/scss"
	],
	"ignoreFiles": [
		"build/**/*",
		"node_modules/**/*",
		"vendor/**/*",
		"tmp/**/*"
	],
	"rules": {
		"color-hex-length": "long",
		"at-rule-empty-line-before": [
			"always",
			{
				"except": [
					"first-nested",
					"blockless-after-blockless"
				],
				"ignoreAtRules": [
					"else"
				]
			}
		]
	}
}
